<%= link_to "< Geri", @item.list %>

<%= form_for([@item.list, @item]) do |f| %>
  <p>
    <label>
      İçerik:
      <%= f.text_field :content %>
    </label>
  </p>
  <p>
    <label>
      Bitiş Tarihi:
      <%= f.datetime_select :due_time, start_year: Date.today.year, include_blank: true %>
    </label>
  </p>
  <p>
    <label>
      Hatırlat:
      <%= f.select :reminder_time, [['Hiçbir zaman', nil], ['1 saat önce', 1.hour], ['1 gun önce', 1.day], ['1 hafta önce', 1.week]] %>
    </label>
  </p>
  <p>
    <label>
      <p>
        Notlar:
      </p>
      <%= f.text_area :notes, rows: 10 %>
    </label>
  </p>
  <%= f.submit 'Kaydet' %>
<% end %>
